{{ attach_library('puds_ics/chart') }}
<div class="chart-wrapper">
    <div class="chart" data-id="{{ id }}" data-block="1" data-done="0">
        <div data-aos="fade">
            <svg style='width:100%; height:200px;' id="svg-graph" xmlns="http://www.w3.org/2000/svg">
            </svg>
        </div>
        <div class="product_info">
            {% if ('admin' in user.getroles
            or 'client_premium' in user.getroles
            or 'client_puds_member' in user.getroles)  %}
                <a href="/ics/{{ id }}"><div class="name" data-aos="fade" data-aos-delay="200"></div></a>
            {% else %}
                <a href="/premium"><div class="name" data-aos="fade" data-aos-delay="200"></div></a>
            {% endif %}
            <div class="product_details" data-aos="fade" data-aos-delay="400">
                <div class="week">Tydzień: <span></span></div>
                <div class="min">min: <span></span></div>
                <div class="max">max: <span></span></div>
            </div>
        </div>
    </div>
</div>