{{ attach_library('puds_ics/chart') }}
<div class="ics-page">
    <header id="header-node" class="align-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="headline-wrapper">
                        <h1 class="h2" data-aos="fade-up">
                            Indeks Cen Stali
                        </h1>
                        <h4 data-aos="fade-up" data-aos-delay="200">{{ name }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="chart" data-id="{{ id }}" data-block="0" data-done="0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 col-xl-9 order-2 order-lg-1">
                    <div class="wrapper-white">
                        <div class="product_info product_info_chart big bold" data-aos="fade" >
                            <div class="week" data-aos="fade">Tydzień: <span></span></div>
                            <div class="min" data-aos="fade" data-aos-delay="200">Min. <span></span></div>
                            <div class="max" data-aos="fade" data-aos-delay="400">Max. <span></span></div>
                        </div>
                        <div data-aos="fade">
                        <svg id="svg-graph" class="page" xmlns="http://www.w3.org/2000/svg"></svg>
                        </div>
                        <a data-aos="fade" href="" id="download-pdf" class="c_button button-white custom-button-icon-pdf-left">Pobierz raport</a>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-xl-3 order-1 order-lg-2">
                    <div class="other wrapper-white sidebar-block">
                        <h5 data-aos="fade">Pozostałe indeksy</h5>
                        <ul>
                            <li data-aos="fade" data-aos-delay="200">{{ link('Blacha gorącowalcowana S235JR2 (St3S)', 'internal:/ics/1') }}</li>
                            <li data-aos="fade" data-aos-delay="400">{{ link('Profil HEB 200', 'internal:/ics/2') }}</li>
                            <li data-aos="fade" data-aos-delay="600">{{ link('Pręt żebrowany fi 12mm, BST 500', 'internal:/ics/3') }}</li>
                        </ul>
                    </div>

                    <div class="dynamic-ics wrapper-blue sidebar-block">
                        <h5 data-aos="fade">Dynamiczny ICS</h5>
                        <form id="chart-brush-x">
                            <div class="label">
                                <span data-aos="fade">Początek</span>
                                <input type="text" name="startdate" id="startdate" autocomplete="off" data-aos="fade">
                                <p class="date-error"></p>
                            </div>
                            <div class="label">
                                <span data-aos="fade">Koniec</span>
                                <input type="text" name="enddate" id="enddate" autocomplete="off" data-aos="fade">
                                <input type="submit" class="date-submit" value="Zmień zakres dat" data-aos="fade">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product_info product_table product_info_footer wrapper-white">
                        <div class="info-wrapper">
                            <h4 data-aos="fade">Aktualna cena</h4>
                            <div class="min" data-aos="fade">Minimalna: <span></span> PLN</div>
                            <div class="max" data-aos="fade">Maksymalna: <span></span> PLN</div>
                        </div>
                        <div class="info-wrapper">
                            <div class="previous_week"><h4 data-aos="fade" data-aos-delay="200">Poprzedni tydzień: <span></span></h4></div>
                            <div class="previous_week_min" data-aos="fade" data-aos-delay="200">Minimalna: <span></span> PLN</div>
                            <div class="previous_week_max" data-aos="fade" data-aos-delay="200">Maksymalna: <span></span> PLN</div>
                        </div>
                        <div class="info-wrapper">
                            <h4 data-aos="fade" data-aos-delay="400">Zmiana</h4>
                            <div class="min_change_week" data-aos="fade" data-aos-delay="400"><span></span> PLN / <span></span> %</div>
                            <div class="max_change_week" data-aos="fade" data-aos-delay="400"><span></span> PLN / <span></span> %</div>
                        </div>
                        <div class="info-wrapper">
                            <div class="previous_year"><h4 data-aos="fade" data-aos-delay="600">Poprzedni rok: <span></span> tydzień <span></span></h4></div>
                            <div class="previous_year_min" data-aos="fade" data-aos-delay="600">Minimalna: <span></span> PLN</div>
                            <div class="previous_year_max" data-aos="fade" data-aos-delay="600">Maksymalna: <span></span> PLN</div>
                        </div>
                        <div class="info-wrapper">
                            <h4 data-aos="fade" data-aos-delay="800">Zmiana</h4>
                            <div class="min_change_year" data-aos="fade" data-aos-delay="800"><span></span> PLN / <span></span> %</div>
                            <div class="max_change_year" data-aos="fade" data-aos-delay="800"><span></span> PLN / <span></span> %</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="product_info product_info_footer wrapper-white" data-aos="fade">
                        {{ description }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>