{{ attach_library('puds_ics/admin_chart') }}
{% if ('admin' in user.getroles) %}
    <div class="chart" data-id="{{ id }}" data-newsletter="1" data-done="0">
        <svg style='width: 367.59px; height:200px;' id="svg-graph-{{ id }}" xmlns="http://www.w3.org/2000/svg">
        </svg>
        <p>{{ name }}</p>
    </div>
{% endif %}