
{% for id, name in products %}
    {% include 'chart-svg-block.html.twig' with {id: id} %}
{% endfor %}


{% if ('admin' in user.getroles
    or 'client_premium' in user.getroles
    or 'client_puds_member' in user.getroles)  %}
    {#<a href="/ics/1">Więcej &raquo;</a>#}
{% else %}
    {#<a href="{{ path('entity.node.canonical', {'node': 281}) }}">Uzyskaj dostęp &raquo;</a>#}
{% endif %}