<tr style="width:100%;display:block">
    <td style="width:100%;display:block">
        <div style="padding:0;margin:0;background:#f0f1f1;width:100%;display:block"><!--[if mso]>
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="width:100%;display:block;margin:0 auto;border:none;" width="100%">
                <tr>
                    <td><![endif]-->
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="width:100%;margin:0 auto;border:none;table-layout:fixed;height:0px;" height="0">
                <tbody>
                <tr>
                    <td style="width:100%;background-color:transparent;height:0px" height="0"><!--[if mso]>
                        <table border="0" cellspacing="0" cellpadding="0" align="center" height="0" style="width:690px;display:block;margin:0 auto;border:none;" width="690">
                            <tr>
                                <td><![endif]-->
                        <table border="0" cellspacing="0" cellpadding="0" align="center" height="0" style="width:100%;margin:0 auto;border:none;max-width:690px;table-layout:fixed;height:0px">
                            <tbody style="width:100%;">
                            <tr class="blockClass">
                                <th style="font-weight:normal;height:0px;background-color:transparent;" height="0"></th>
                            </tr>
                            </tbody>
                        </table>
                        <!--[if mso]></td>
                        </tr>
                        </table><![endif]-->
                    </td>
                </tr>
                </tbody>
            </table>
            <!--[if mso]>
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="width:690px;display:block;margin:0 auto;border:none;" width="690">
                <tr>
                    <td><![endif]-->
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="width:100%;display:block;margin:0 auto;border:none;max-width:690px;table-layout:fixed;">
                <tbody style="width:100%;display:block;">
                <tr class="blockClass holderMax" style="width:690px;display:table; background-color: #ffffff">
                    <td style="width:22px;vertical-align:middle;padding:0px;"></td>
                    <td class="blockClassPadding" style="padding:0px;font-weight:normal;vertical-align:middle;padding:0px;">
                        <table para="holderGenerate_table" border="0" cellspacing="0" cellpadding="0" align="center" style="width:100%;border: none; display: block;">
                            <tbody style="width:100%;display:block">
                            <tr style="width:100%; height: 35px;display:block"><td></td></tr>
                            <tr style="width:100%;display:block">
                                <td style="font-size: 18px; color: #203260; font-weight: bold; font-family: Arial, Helvetica, sans-serif !important;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Indeks Cen Stali</font></font></td>
                            </tr>
                            <tr style="width:100%; height: 10px;display:block"><td></td></tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="width:22px;vertical-align:middle;padding:0px;"></td>
                </tr>
                </tbody>
            </table>
            <table border="0" cellspacing="0" cellpadding="0" align="center" style="width:100%;display:block;margin:0 auto;border:none;max-width:690px;table-layout:fixed;">
                <tbody style="width:100%;display:block;">
                <tr class="blockClass holderMax" style="width:690px;display:table; background-color: #ffffff">
                    <td style="width:22px;vertical-align:middle;padding:0px;"></td>
                    <td class="blockClassPadding" style="padding:0px;font-weight:normal;vertical-align:middle;padding:0px;">
                        <table para="holderGenerate_table" border="0" cellspacing="0" cellpadding="0" align="center" style="width:100%;border: none; display: block;">
                            <tbody style="width:100%;display:block">

                            {% for product in productsDetail %}
                                <tr style="width:100%; height: 29px;display:block"><td></td><td></td></tr>
                                <tr style="width:100%;display:table">
                                    <td width="97px" style="font-size: 13px; color: #203260; font-weight: bold; vertical-align:middle;padding:0px; height: 100%; font-family: Arial, Helvetica, sans-serif !important; width: 97px;">
                                        <img src="{{ url('<front>')|render }}/sites/default/files/cache_ics_images/{{product.shortname|replace({' ':'','ę':''}) }}_{{ product.year }}_{{ product.week }}.png" alt="Download images" style="border:none;display:block;width:97px;height:auto;background-color:transparent;text-align:start;font-size:12px;font-family:Arial, Helvetica, sans-serif;text-decoration:none;color:#686868;line-height:100%;" width="97">
                                    </td>
                                    <td style="font-size: 13px; color: #203260; font-weight: bold; vertical-align:middle;padding:0px; height: 100%; font-family: Arial, Helvetica, sans-serif !important; width: 20px;"></td>
                                    <td style="vertical-align:middle;padding:0px; height: 100%;">
                                        <table para="holderGenerate_table" border="0" cellspacing="0" cellpadding="0" align="center" style="width:100%;border: none; display: block;">
                                            <tbody style="width:100%;display:block">
                                            <tr style="width:100%;display:table">
                                                <td style="font-size: 13px; color: #203260; font-weight: bold; vertical-align:middle;padding:0px; height: 100%; font-family: Arial, Helvetica, sans-serif !important;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                            {{ product.name }}
                                                        </font></font></td>
                                            </tr>
                                            <tr style="width:100%; height: 7px;display:block"><td></td></tr>
                                            <tr style="width:100%;display:table">
                                                <td style="font-size: 13px; color: #203260; font-weight: normal; vertical-align:middle;padding:0px; height: 100%; font-family: Arial, Helvetica, sans-serif !important;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                                            Tydzień {{ product.week }}, Max. </font><font style="vertical-align: inherit;">{{ product.max }}, Min. {{ product.min }}
                                                        </font></font></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr style="width:100%; height: 25px;display:block"><td></td><td></td></tr>
                                <tr style="width:100%; height: 1px;display:block; background: #dfe1e8;"><td></td><td></td></tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                    <td style="width:22px;vertical-align:middle;padding:0px;"></td>
                </tr>
                </tbody>
            </table>
            <!--[if mso]></td>
            </tr>
            </table><![endif]--><!--[if mso]>
            </td>
            </tr>
            </table><![endif]-->
        </div>
    </td>
</tr>
