#startdate, #enddate{
    color: black
}
#enddate{
    margin-bottom: 10px;
}
.date-submit{
    background-color: #077cff;
    border: none;
}
.date-error{
    color: red;
}
#svg-graph.page {
    height:500px;
    width:100%;
    overflow: visible;
}